.btn {
  display: inline-block;

  padding: 11px 24px;

  font-weight: bold;
  font-size: 16px;

  border: 1px;
}

.btn:hover {
  background-color: #ea7600;
  border-color: #ea7600;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-orange {
  color: var(--white);

  background-color: var(--base);
  border-color: var(--base);
}
